<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>操作帮助说明</title>
<STYLE type=text/css>
BODY {
	MARGIN-TOP: 5px;
	MARGIN-LEFT: 0px
}

.STYLE1 {
	FONT-SIZE: 12px
}

.STYLE4 {
	COLOR: #ffffff;
	FONT-SIZE: 12px
}
</STYLE>

</HEAD>
<BODY>
	<TABLE style="BACKGROUND-IMAGE: url(../../resources/images/help_bg.jpg)" border=0
		rules=none cellSpacing=0 borderColor=#cccccc cellPadding=0 width=700
		align=center>
		<TBODY>
			<TR>
				<TD width=40></TD>
				<TD vAlign=top width=565>
					<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%" height=77>
						<TBODY>
							<TR>
								<TD height=1 width=600>&nbsp;</TD>
							</TR>
							<TR>
								<TD bgColor=#e1f4ff height=27>&nbsp;<IMG align=absMiddle
									src="../../resources/images/biao.gif" width=28 height=10>&nbsp;<IMG
									align=absMiddle src="../../resources/images/buzhou.jpg" width=198
									height=15></TD>
							</TR>
							<TR>
								<TD bgColor=#e1f4ff height=2>
									<HR align=center SIZE=1 width="98%">
								</TD>
							</TR>
							<TR>
								<TD bgColor=#e1f4ff height=20><SPAN class=STYLE1>&nbsp;&nbsp;&nbsp;在IE菜单栏选择
										1."工具" － 2.“弹出窗口阻止程序” － 选择 3.“关闭弹出阻止程序”；如下图所示：</SPAN></TD>
							</TR>
							<TR>
								<TD bgColor=#e1f4ff height=280 align=middle><IMG
									src="../../resources/images/Steps.jpg" width=580 height=250></TD>
							</TR>
							<TR>
								<TD height=1 width=600>&nbsp;</TD>
							</TR>
						</TBODY>
					</TABLE>
				</TD>
				<TD width=40></TD>
			</TR>
		</TBODY>
	</TABLE>
</BODY>
</HTML>